{% extends 'base.html' %}
{% block title %}
ServicePerCategory
{% endblock %}

{% block content %}

 <script src="/static/js/search.js"></script>


  <label for="service"> Service:</label>

  <select
    type="text"
    name="service"
    placeholder="0"
    value=""
    id="service"
    onchange="myFunction()"
   >
    <option value="" selected>All Services</option>
    <option value="1">bar</option>
    <option value="2">restaurant</option>
    <option value="3">barbershop</option>
    <option value="4">gym</option>
    <option value="5">sauna</option>
    <option value="6">conference room</option>
    <option value="7">room</option>
 </select>

 <label for="charge_time">Date:</label>
 <input type="date" id = "charge_time" name = "charge_time" onchange="myFunction()" />
 <label for="cost"> Maximum Cost: </label>
 <input type="number" id = "cost" name = "cost" onchange = "myFunction()" />

<div id = "demo"> </div>
  {% endblock %}
